# .gitignore

#temp data to ignore
*.Rproj.user
Scripts/*.Rhistory
*.Rhistory
*.RData
*.Ruserdata
.Rproj.user
*Rproj
Scripts/*.Rhistory

#scripts to ignore
Scripts/OutFLANK.R
Scripts/pop_structure.R
Scripts/allele_balance_filter.R 
Scripts/plot_R.r

#plots to ignore
Plots/Aen_stuff/*
momi2_plots/Aen_stuff/*
PCAs_ADMIXTURE/Aen_stuff/*
read_depth_plots/Aen_stuff/*
2sp_Fis_plot_flipped.png
2sp_He_plot_flipped.png
2sp_Ho_plot_flipped.png
2sp_Pi_plot_flipped.png
*nohighhet_fis_plot.png
*nohighhet_het_plot.png
*nohighhet_pi_plot.png
*nohighhet_mean_rel_plot.png
*nohgighhet_TD_scatterplot.png
*nohighhet_pi_diff_plot.png
*nohighhet_fst_window_plot.png

#data to ignore
Data/Aen_Ham
Data/allsp_unrelated_div_cis.csv
Data/Leigh_et.al.data_used_in_synthesis.csv
Data/momi2_R_boot_template.xlsx

#Ela data to ignore (mostly output files)
Data/Ela_Ham/mapDamage
Data/Ela_Ham/momi2/Ela_momi2_output.xlsx
Data/Ela_Ham/Ela_permutation_div.csv
Data/Ela_Ham/Contemp_Ela_div.csv
Data/Ela_Ham/Hist_Ela_div.csv
Data/Ela_Ham/Ela_div_cis.csv
Data/Ela_Ham/Ela_pi_cis.csv
Data/Ela_Ham/Ela_permutation_pi.csv
Data/Ela_Ham/all_data_diploid.rds
Data/Ela_Ham/Ela_nohighhet_TajimasD_combined_full.csv
Data/Ela_Ham/Ela_nohighhet_TD_cis.csv
Data/Ela_Ham/Ela_wang_relatedness_cis.csv
Data/Ela_Ham/Ela_relatedness_raw.csv
Data/Ela_Ham/*gen
Data/Ela_Ham/Ela_Ela_individs_het.xlsx
Data/Ela_Ham/Ela_seq_metadata.xlsx
Data/Ela_Ham/Ela_Ela_nohighhetNe.txt
Data/Ela_Ham/*vcf

#Gmi data to ignore (mostly output files)
Data/Gmi_Ham/mapDamage
Data/Gmi_Ham/momi2/Gmi_momi2_output.xlsx
Data/Gmi_Ham/GmiHam_permutation_div.csv
Data/Gmi_Ham/Contemp_Gmi_div.csv
Data/Gmi_Ham/Hist_Gmi_div.csv
Data/Gmi_Ham/Gmi_div_cis.csv
Data/Gmi_Ham/Gmi_pi_cis.csv
Data/Gmi_Ham/Gmi_permutation_pi.csv
Data/Gmi_Ham/all_data_diploid.rds
Data/Gmi_Ham/Gmi_A_nohighhet_Ham_TajimasD_combined_full.csv
Data/Gmi_Ham/Gmi_A_nohighhet_Ham_TD_cis.csv
Data/Gmi_Ham/Gmi_wang_relatedness_cis.csv
Data/Gmi_Ham/Gmi_relatedness_raw.csv
Data/Gmi_Ham/*gen
Data/Gmi_Ham/Gmi_A_individ_het.xlsx
Data/Gmi_Ham/Gmi_seq_metadata.csv
Data/Gmi_Ham/Gmi_A_nohighhetNe.txt
Data/Gmi_Ham/Gmi.renamed.noLD.*vcf

#extra stuff to ignore
PCA_ADMIXTURE_Plots.pptx
sequencing_statistics.xlsx
Robin_Presentation.pptx
.Rproj.user

#Manuscript folder to ignore
Manuscript_Drafts/*