# .gitignore

#temp data to ignore
*.Rproj.user
Scripts/*.Rhistory
*.Rhistory
*.RData
*.Ruserdata
.Rproj.user
*Rproj
Scripts/*.Rhistory

#scripts to ignore
Scripts/OutFLANK.R
Scripts/pop_structure.R
Scripts/allele_balance_filter.R 
Scripts/plot_R.r
Scripts/pop_structure.R

#plots to ignore
Plots/Aen_stuff/*
Plots/momi2_plots/Aen_stuff/*
Plots/PCAs_ADMIXTURE/Aen_stuff/*
Plots/read_depth_plots/Aen_stuff/*
Plots/read_depth_plots/Meandepth*
Plots/read_depth_plots/perchet_totreadcount*
Plots/2sp_Fis_plot_flipped.png
Plots/2sp_He_plot_flipped.png
Plots/2sp_Ho_plot_flipped.png
Plots/2sp_Pi_plot_flipped.png
Plots/*nohighhet_fis_plot.png
Plots/*nohighhet_het_plot.png
Plots/*nohighhet_pi_plot.png
Plots/*nohighhet_Ham_fis_plot.png
Plots/*nohighhet_Ham_het_plot.png
Plots/*nohighhet_Ham_pi_plot.png
Plots/*mean_rel_plot.png
Plots/*TD_scatterplot.png
Plots/*pi_diff_plot.png
Plots/*fst_window_plot.png
Plots/Ho_Perc_Change_Plot.png

#PCA & ADMIXTURE plots to ignore
Plots/PCAs_ADMIXTURE/Aen_stuff/*
Plots/PCAs_ADMIXTURE/*23.png
Plots/PCAs_ADMIXTURE/*13.png
Plots/PCAs_ADMIXTURE/Ela_Lle_CV.png
Plots/PCAs_ADMIXTURE/Ela_Lle_PCA_12.png
Plots/PCAs_ADMIXTURE/Gmi_A_CV.png
Plots/PCAs_ADMIXTURE/Gmi_A_nohighhet_CV.png
Plots/PCAs_ADMIXTURE/Gmi_A_PCA_12.png
Plots/PCAs_ADMIXTURE/Gmi_B*
Plots/PCAs_ADMIXTURE/Gmi_CV.png
Plots/PCAs_ADMIXTURE/Gmi_PCA_12.png
Plots/PCAs_ADMIXTURE/PIRE.Ela.Ham.Ela.nohighhet.3.Q.png
Plots/PCAs_ADMIXTURE/PIRE.Ela.Ham.Ela.nohighhet.4.Q.png
Plots/PCAs_ADMIXTURE/PIRE.Ela.Ham.Ela.nohighhet.5.Q.png
Plots/PCAs_ADMIXTURE/PIRE.Ela.Ham.Lle.2.Q.png
Plots/PCAs_ADMIXTURE/PIRE.Gmi.Bas.rescaled.preHWE.2.Q.png
Plots/PCAs_ADMIXTURE/PIRE.Gmi.Ham.2.Q.png
Plots/PCAs_ADMIXTURE/PIRE.Gmi.Ham.A.2.Q.png
Plots/PCAs_ADMIXTURE/PIRE.Gmi.Ham.A.nohighhet.2.Q.png
Plots/PCAs_ADMIXTURE/PIRE.Gmi.Ham.B.2.Q.png
Plots/PCAs_ADMIXTURE/PIRE.Gmi.Ham.A.nohighhet.Ham.3.Q.png
Plots/PCAs_ADMIXTURE/PIRE.Gmi.Ham.A.nohighhet.Ham.4.Q.png
Plots/PCAs_ADMIXTURE/PIRE.Gmi.Ham.A.nohighhet.Ham.5.Q.png
Plots/PCAs_ADMIXTURE/preHWE_Gmi*
Plots/PCAs_ADMIXTURE/preHWE_Lle*

#data to ignore
Data/Aen_Ham
Data/allsp_unrelated_div_cis.csv
Data/Leigh_et.al.data_used_in_synthesis.csv
Data/momi2_R_boot_template.xlsx

#Ela data to ignore (mostly output files)
Data/Ela_Ham/mapDamage
Data/Ela_Ham/momi2/Ela_momi2_output.xlsx
Data/Ela_Ham/Ela_permutation_div.csv
Data/Ela_Ham/Contemp_Ela_div.csv
Data/Ela_Ham/Hist_Ela_div.csv
Data/Ela_Ham/Ela_div_cis.csv
Data/Ela_Ham/Ela_pi_cis.csv
Data/Ela_Ham/Ela_permutation_pi.csv
Data/Ela_Ham/all_data_diploid.rds
Data/Ela_Ham/Ela_nohighhet_TajimasD_combined_full.csv
Data/Ela_Ham/Ela_nohighhet_TD_cis.csv
Data/Ela_Ham/Ela_wang_relatedness_cis.csv
Data/Ela_Ham/Ela_relatedness_raw.csv
Data/Ela_Ham/Ela.relatedness.format.txt
Data/Ela_Ham/*gen
Data/Ela_Ham/Ela_Ela_individs_het.xlsx
Data/Ela_Ham/Ela_seq_metadata.xlsx
Data/Ela_Ham/Ela_Ela_nohighhetNe.txt
Data/Ela_Ham/*vcf

#Gmi data to ignore (mostly output files)
Data/Gmi_Ham/mapDamage
Data/Gmi_Ham/momi2/Gmi_momi2_output.xlsx
Data/Gmi_Ham/GmiHam_permutation_div.csv
Data/Gmi_Ham/Contemp_Gmi_div.csv
Data/Gmi_Ham/Hist_Gmi_div.csv
Data/Gmi_Ham/Gmi_div_cis.csv
Data/Gmi_Ham/Gmi_pi_cis.csv
Data/Gmi_Ham/Gmi_permutation_pi.csv
Data/Gmi_Ham/all_data_diploid.rds
Data/Gmi_Ham/Gmi_A_nohighhet_Ham_TajimasD_combined_full.csv
Data/Gmi_Ham/Gmi_A_nohighhet_Ham_TD_cis.csv
Data/Gmi_Ham/Gmi_wang_relatedness_cis.csv
Data/Gmi_Ham/Gmi_relatedness_raw.csv
Data/Gmi_Ham/Gmi.relatedness.format.txt
Data/Gmi_Ham/*gen
Data/Gmi_Ham/Gmi_A_individ_het.xlsx
Data/Gmi_Ham/Gmi_seq_metadata.csv
Data/Gmi_Ham/Gmi_A_nohighhetNe.txt
Data/Gmi_Ham/Gmi.renamed.noLD.*vcf

#extra stuff to ignore
PCA_ADMIXTURE_Plots.pptx
sequencing_statistics.xlsx
Robin_Presentation.pptx
.Rproj.user

#Manuscript folder to ignore
Manuscript_Drafts/*