# .gitignore

#temp data to ignore
*.Rproj.user
Scripts/*.Rhistory
*.Rhistory
*.RData
*.Ruserdata
*Rproj
Scripts/*.Rhistory

#scripts to ignore
Scripts/OutFLANK.R
Scripts/WriteHetCI.R
Scripts/pop_structure.R #for preHWE processing step in CSSL bioinformatics pipeline
Scripts/diploid_filter.R #for polyploid filtering for Aen & already in CSSL repo 

#extra stuff to ignore
PCA_ADMIXTURE_Plots.pptx
sequencing_statistics.xlsx
.Rproj.user
